django~=4.2
django-auth-ldap~=4.6
python-ldap~=3.4
django-taggit~=5.0
django-tinymce==4.1.0
psycopg2-binary~=2.9
# Updates for Django 4

# Updates for Django 2
# git+https://github.com/elpaso/rpc4django.git@modernize
rpc4django~=0.6
Pillow~=10.1
# Updates for Django 4
django-bootstrap-pagination-forked~=1.7
django-sortable-listview~=0.43
django-extensions~=3.2
django-debug-toolbar~=4.2

# Feedjack==0.9.18
# So use George's fork rather
# git+https://github.com/Erve1879/feedjack.git
# George's is also broken: use my fork (django 1.8 ready)
# git+https://github.com/elpaso/feedjack.git
# His is also broken, use dimasciput (django 2.2 ready)
# git+https://github.com/dimasciput/feedjack.git
# For django 4, use Xpirix (django 4.2 ready)
git+https://github.com/Xpirix/feedjack.git
feedparser~=6.0
celery~=5.3

# pin due to issues with a breaking change
# https://github.com/celery/celery/issues/7783
importlib_metadata<5

requests~=2.31

markdown~=3.5

django-preferences==1.0.0
django-matomo==0.1.6
uwsgi~=2.0
freezegun~=1.4

sentry-sdk~=2.2
