@charset "utf-8";

@import "variables";

@font-face {
    font-family: "Montserrat";
    src: url("../webfonts/Montserrat.ttf") format("truetype");
}

@font-face {
    font-family: "Work Sans";
    src: url("../webfonts/worksans.woff2") format("opentype");
}

@font-face {
    font-family: "'Sevillana', cursive";
    src: url("../webfonts/sevillana.woff2") format("opentype");
}


@font-face {
  font-family: "Trueno";
  src: url("../webfonts/TruenoLt.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Trueno";
  src: url("../webfonts/TruenoRg.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Trueno";
  src: url("../webfonts/TruenoSBd.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Trueno";
  src: url("../webfonts/TruenoBd.otf") format("opentype");
  font-weight: 600;
}
             
@font-face {
  font-family: "Trueno";
  src: url("../webfonts/TruenoUltBlk.otf") format("opentype");
  font-weight: 700;
}
